doctype html
html
    include ./head.pug
    body


        div(class="content")
        
            h1 File Metadata Microservice
            p This app is to upload a file to a server.

            include ./uploadForm.pug

        include ./footer.pug