body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.content {
    min-height: calc(100vh - 120px);
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
  }

h1 {
    font-weight: 600;
}

form {
    background-color: rgb(231, 231, 231);
    padding: 20px;
}

footer {
   background:rgb(233, 233, 233);
   height: 70px;
   text-align: center;
   padding-top: 20px;
}
